<h3>To <%= @team_member.email %></h3>

<h1>アジェンダ削除のおしらせ</h1>

<h2><%= @deleting_user.email %>によって、<%= @team.name %>のアジェンダ"<%= @deleted_agenda.title %>"とその関連記事が削除されました。</h2>

<h3>From Dive into post</h3>
